
<h2>Person</h2>

 <% if params[:user].blank? %>
 <%user=User.new%>
 <%else%>
 <%user=User.new(params[:user])%>
 <%end%>

 
<div class="col-md-3" >
<%= form_for((user),:url => registration_path(User.new,:remote=>true)) do |f| %>
  <%#= devise_error_messages! %>
  
 <%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :class=>"form-control" %>
  <%= hidden_field_tag "role", 'Person' %>

<%= label_tag :first_name %><br/>
  <%= text_field_tag :first_name,'', :class=>"form-control" %>

<%= label_tag :last_name %><br/>
  <%= text_field_tag :last_name ,'', :class=>"form-control"%>
<%= f.label :password %><br />
  <%= f.password_field :password , :class=>"form-control" %>

<%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class=>"form-control" %>
<%= f.submit "Sign up"%>

<% end %> 
</div>