 <nav class="" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    
                </a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
                        </li>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                        </li>
                        <li><%= link_to " Title or description", welcome_content_path %> </li>
                                               
                    <% else %>
                        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
                        </li>
                        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                        </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
